{% load static from staticfiles %}
{% load django_admin_json_editor_tags %}
<div id="{{ name }}_editor"></div>

<script>
    var container = document.getElementById("{{ name }}_editor");
    var options = {
        theme: "bootstrap3",
        iconlib: "fontawesome4",
        schema: {{ schema|json_dumps }}
    };

    var {{ name }}_editor;

    var {{ name }}_changees = 0;

    function {{ name }}_init(container, options) {
        {{ name }}_changees = 0;
        JSONEditor.defaults.options = {{ default_options|json_dumps }};
        {{ name }}_editor = new JSONEditor(container, options);
        JSONEditor.plugins.sceditor.emoticonsEnabled = {{ sceditor }};
        {{ name }}_editor.on('change', function () {
            {{ name }}_changees ++;
            var errors = {{ name }}_editor.validate();
            if (errors.length) {
                console.log(errors);
            }
            else {
                var json = {{ name }}_editor.getValue();
                document.getElementById("id_{{ name }}").value = JSON.stringify(json);
            }
        });
    }

    {{ name }}_init(container, options);

    {% if data %}
    var initial_json = {{ data|safe }};
    if (initial_json !== null) {
        {{ name }}_editor.setValue(initial_json);
    }
    {% endif %}

    {% if schema_choice_field_name and schema_choices %}
    var schema_choices = {{ schema_choices|json_dumps }};
    let ${{ schema_choice_field_name }}_{{ name }} = $('#id_{{ schema_choice_field_name }}');
    if ( ${{ schema_choice_field_name }}_{{ name }}.length ) {
        $.data(${{ schema_choice_field_name }}_{{ name }}, "current", ${{ schema_choice_field_name }}_{{ name }}.val()); // store the current value

        ${{ schema_choice_field_name }}_{{ name }}.change(function(event) {
            let changeSchema = true;
            if ({{ name }}_changees > 1) {
                // only fire this alert if we have made changes.
                changeSchema = confirm("Changing '{{ schema_choice_field_name }}' will clear any data in '{{ name }}'. Do you still want to change '{{ schema_choice_field_name }}'?");
            }
            if (changeSchema) {
                let schemaToSet = schema_choices[event.target.value];
                if (schemaToSet === undefined){
                    schemaToSet = {"title": "Undefined Schema"}
                }
                let newOptions = {
                    theme: "bootstrap3",
                    iconlib: "fontawesome4",
                    schema: schemaToSet
                };
                if ({{ name }}_editor) {
                    {{ name }}_editor.destroy();
                }
                {{ name }}_init(container, newOptions);
                $.data(${{ schema_choice_field_name }}_{{ name }}, "current", ${{ schema_choice_field_name }}_{{ name }}.val()); // update current value
            } else {
                // undo the category change
                ${{ schema_choice_field_name }}_{{ name }}.val( $.data(${{ schema_choice_field_name }}_{{ name }}, "current")); // rollback to the old value
                event.preventDefault();

            }
        });
    } else {
        alert('The field passed to schema_choice_field_name ({{ schema_choice_field_name }}) was not found.  We cannot dynamically change the schema.');
    }

    {% endif %}
</script>
<style>
    {# In the django admin, labels get floated.  Markdown editors in particular then have clearing issues and run into other fields. #}
    {# putting it in here to keep it scoped to just this element #}
   #{{ name }}_editor .form-group label { float: none; }
</style>

<textarea cols="40" id="id_{{ name }}" name="{{ name }}" rows="10" required=""
          style="display: none">{{ data|safe }}</textarea>
