{% load static from staticfiles %}
<div id="{{ name }}_editor"></div>

<script>
    var container = document.getElementById("{{ name }}_editor");
    var options = {
        theme: "bootstrap3",
        iconlib: "fontawesome4",
        schema: {{ schema|safe }}
    };

    var {{ name }}_editor;

    function {{ name }}_init(container, options) {
        {{ name }}_editor = new JSONEditor(container, options);
        JSONEditor.plugins.sceditor.emoticonsEnabled = {{ sceditor }};
        JSONEditor.plugins.epiceditor.basePath = "{% static 'django_admin_json_editor/epiceditor' %}";
        {{ name }}_editor.on('change', function () {
            var errors = {{ name }}_editor.validate();
            if (errors.length) {
                console.log(errors);
            }
            else {
                var json = {{ name }}_editor.getValue();
                document.getElementById("id_{{ name }}").value = JSON.stringify(json);
            }
        });
    }

    {{ name }}_init(container, options);

    var initial_json = {{ data|safe }};
    if (initial_json !== null) {
        {{ name }}_editor.setValue(initial_json);
    }


    var schema_choices = {{ schema_choices|safe }};

    {% if schema_choice_field_name %}
    $('#id_{{ schema_choice_field_name }}').change(function(event) {
        let schemaToSet = schema_choices[event.target.value];
        if (schemaToSet === undefined){
            schemaToSet = {"title": "Undefined Schema"}
        }
        let newOptions = {
            theme: "bootstrap3",
            iconlib: "fontawesome4",
            schema: schemaToSet
        };
        if ({{ name }}_editor) {
            {{ name }}_editor.destroy();
        }
        {{ name }}_init(container, newOptions);
    });
    {% endif %}
</script>

<textarea cols="40" id="id_{{ name }}" name="{{ name }}" rows="10" required=""
          style="display: none">{{ data|safe }}</textarea>
